[core]
        excludesfile = "~/.gitignore_global"
[push]
        default = current
[user]
        name = p-chin
        email = pchin.taka.1127@gmail.com
[color]
        ui = auto
[alias]
        st = status
        co = checkout
        ci = commit
        br = branch
        graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
        modified = ls-files --modified
        deleted  = ls-files --deleted
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
